<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:aty="http://www.thunisoft.com">
  <head> 
    <meta type="aty-meta" name="javaLocation" content="com.thunisoft.demo.demo.controller.mzysgzz.JysqController.java" th:remove="all"> 
    <meta type="aty-meta" name="cssLocation" content="css/mzysgzz/jysq.css" th:remove="all"> 
    <meta type="aty-meta" name="jsLocation" content="js/mzysgzz/jysq.js" th:remove="all"> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
    <meta name="description" content=""> 
    <link rel="stylesheet" th:href="@{/webjars/artery/artery-ui.css}"> 
    <link rel="stylesheet" aty:import> 
    <link rel="stylesheet" th:href="@{/css/mzysgzz/jysq.css}"> 
    <title>title</title> 
    <base th:href="@{/}"> 
  </head> 
  <body> 
    <div id="app"> 
      <aty-region-layout> 
        <aty-region-center> 
          <aty-row type="flex" justify="center"> 
            <aty-col span="3"> 
              <aty-button type="default" shape="circle" icon="android-add">
                 新增项目 
              </aty-button> 
            </aty-col> 
            <aty-col span="3"> 
              <aty-button type="default" shape="circle" icon="android-remove">
                 删除项目 
              </aty-button> 
            </aty-col> 
            <aty-col span="3"> 
              <aty-button type="default" shape="circle" icon="android-done">
                 开立项目 
              </aty-button> 
            </aty-col> 
            <aty-col span="3"> 
              <aty-button type="default" shape="circle" icon="android-delete">
                 作废项目 
              </aty-button> 
            </aty-col> 
            <aty-col span="3"> 
              <aty-button type="default" shape="circle" icon="android-add-circle">
                 存为组套 
              </aty-button> 
            </aty-col> 
            <aty-col span="3"> 
              <aty-button type="default" shape="circle" icon="refresh">
                 刷新 
              </aty-button> 
            </aty-col> 
          </aty-row> 
          <aty-text text="本项目金额合计"></aty-text> 
          <aty-table height="600"> 
            <aty-table-column type="selection"></aty-table-column> 
            <aty-table-column label="申请名称"></aty-table-column> 
            <aty-table-column label="项目名称"></aty-table-column> 
            <aty-table-column label="执行科室"></aty-table-column> 
            <aty-table-column label="执行状态"></aty-table-column> 
            <aty-table-column label="单价"></aty-table-column> 
            <aty-table-column label="检验结果"></aty-table-column> 
          </aty-table> 
        </aty-region-center> 
        <aty-region-east :width="400"> 
          <aty-card width="380px" height="500px"> 
            <aty-card-head text="常用模板"></aty-card-head> 
            <aty-table> 
              <aty-table-column label="名称"></aty-table-column> 
              <aty-table-column label="操作"> 
                <aty-button text="使用"></aty-button> 
                <aty-button text="详细"></aty-button> 
              </aty-table-column> 
            </aty-table> 
          </aty-card> 
        </aty-region-east> 
      </aty-region-layout> 
    </div>  
    <script type="text/javascript" th:src="@{/webjars/vue/vue.min.js}"></script> 
    <script type="text/javascript" th:src="@{/webjars/artery/artery-ui.min.js}"></script> 
    <script type="text/javascript" aty:import></script> 
    <script type="text/javascript" th:src="@{/js/mzysgzz/jysq.js}"></script> 
  </body>
</html>