<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:aty="http://www.thunisoft.com">
  <head> 
    <meta type="aty-meta" name="javaLocation" content="com.thunisoft.demo.demo.controller.IndexController.java" th:remove="all"> 
    <meta type="aty-meta" name="cssLocation" content="css/index.css" th:remove="all"> 
    <meta type="aty-meta" name="jsLocation" content="js/index.js" th:remove="all"> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
    <link rel="stylesheet" th:href="@{/webjars/artery/artery-ui.css}"> 
    <link rel="stylesheet" aty:import> 
    <link rel="stylesheet" th:href="@{/css/index.css}"> 
    <title>title</title> 
    <base th:href="@{/}"> 
  </head> 
  <body> 
    <div id="app" style="height:100%;width:100%">
      <div class="index">
        <aty-button @click="xtglopen" class="buttonstyle">
          <aty-icon type="android-settings"></aty-icon>
          <aty-text text="系统管理"></aty-text>
        </aty-button>
        <aty-button @click="cwglopen" class="buttonstyle">
          <aty-icon type="social-yen"></aty-icon>
          <aty-text text="财务管理"></aty-text>
        </aty-button>
        <aty-button @click="yjopen" class="buttonstyle">
          <aty-icon type="ios-flask-outline"></aty-icon>
          <aty-text text="医技医生工作站"></aty-text>
        </aty-button>
        <aty-button @click="mzopen" class="buttonstyle">
          <aty-icon type="ios-medkit"></aty-icon>
          <aty-text text="门诊医生工作站"></aty-text>
        </aty-button>
      </div>


    </div>
    <script type="text/javascript" th:src="@{/webjars/vue/vue.min.js}"></script> 
    <script type="text/javascript" th:src="@{/webjars/artery/artery-ui.min.js}"></script> 
    <script type="text/javascript" aty:import></script> 
    <script type="text/javascript" th:src="@{/js/index.js}"></script>  
  </body>
</html>