<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>C:/_DOC/Repo/maven</localRepository>
	<pluginGroups></pluginGroups>
	<proxies></proxies>
	<servers>
		<server>
			<id>public-snapshots</id>
			<username>dev</username>
			<password>help</password>
		</server>
		<server>
			<id>public-repo</id>
			<username>dev</username>
			<password>help</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
        <id>nexus-aliyun</id>
        <mirrorOf>*</mirrorOf>
        <name>Nexus aliyun</name>
        <url>http://maven.aliyun.com/nexus/content/groups/public</url>
    </mirror>
		<mirror>
			<id>public-repo</id>
			<url>http://repo.thunisoft.com/maven2/content/repositories/public/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
		<mirror>
			<id>public-snapshots</id>
			<url>http://repo.thunisoft.com/maven2/content/repositories/public-snapshots/</url>
			<mirrorOf>public-snapshots</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>public</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>public-snapshots</id>
			<repositories>
				<repository>
					<id>public-snapshots</id>
					<url>http://public-snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>public-snapshots</id>
					<url>http://public-snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>public</activeProfile>
		<activeProfile>public-snapshots</activeProfile>
	</activeProfiles>
</settings>